<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link media="all" rel="stylesheet" type="text/css" href="/static/styles/profile/profile_style.css" th:href="@{/styles/profile/profile_style.css}"/>
  <link media="all" rel="stylesheet" type="text/css" href="/static/styles/index/index_style.css" th:href="@{/styles/index/index_style.css}"/>
  <link media="all" rel="stylesheet" type="text/css" href="/static/styles/profile/admin/admin.css" th:href="@{/styles/profile/admin/admin.css}"/>

  <title>Панель администратора</title>
</head>
<body>
<header>
  <nav class="nav navbar-expand-md sticky-top">
    <div class="container-fluid">
      <img class="navbar-brand" src="/static/images/MVD_Komi_Logo.png" th:src="@{/images/MVD_Komi_Logo.png}" alt="MVD_Komi_Logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1>Геоинформационная система МВД РК Коми "название"</h1>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form th:action="@{/}" href="/index.html" method="get" class="form-main">
            <input type="submit" value="Главная"/>
          </form>
        </li>
        <li class="nav-item">
          <!--                    <a href="/about" class="nav-link">Помощь</a>-->
          <form th:action="@{/about}" method="get" class="form-main">
            <input type="submit" value="Помощь"/>
          </form>
        </li>
        <li class="nav-item active">
          <form th:action="@{/profile}" method="get" class="form-main-active">
            <input type="submit" value="Профиль"/>
          </form>
        </li>
        <li class="nav-item">
          <form th:action="@{/logout}" method="post" class="form-main">
            <input class="logout" type="submit" value="Выйти"/>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <script src="/static/scripts/buttons.js" th:src="@{/scripts/buttons.js}"></script>
  <section>
    <div class="left-bar">
      <h3>Настройки</h3>
      <div class="left-nav">
        <form th:action="@{/profile}" method="get" class="form-main">
          <a href="../profile.html" th:href="@{/profile}" class="link">Профиль</a>
        </form>
      </div>
      <div class="adm">
        <div class="left-nav">
          <h3>Администрирование</h3>
          <a href="#" class="link">Пользователи</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="info">
      <div class="users">
        <div class="users-list">
          <h4>Список пользователей</h4>
          <table>
            <thead>
            <tr>
              <th>Фамилия</th>
              <th>Имя</th>
              <th>Отчество</th>
              <th>Логин</th>
              <th>E-mail</th>
              <th>Роль</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
              <!--  Мб везде сделать trim, проверить   -->
              <td th:text="${user.getFam().trim()}"></td>
              <td th:text="${user.getImj()}"></td>
              <td th:text="${user.getOtch()}"></td>
              <td th:text="${user.getLogin()}"></td>
              <td th:text="${user.getEmail()}"></td>
              <td th:text="${user.getRoles()}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>