@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.bform {
 font-family: "Montserrat", sans-serif;
 color: #8d97ad;
 font-weight: 300;
 overflow: hidden;
 position: relative;
}

.bform h1,
.bform h2,
.bform h3,
.bform h4,
.bform h5,
.bform h6 {
 color: #3e4555;
 text-align: center;
}

.bform .subtitle {
 color: #8d97ad;
 line-height: 24px;
}

.bform a {
 text-decoration: none;
}

.bform .btn-danger-gradiant {
 background: #436be0;
 background: -webkit-linear-gradient(#436be0 0%, #007dff 100%);
 background: -webkit-gradient(linear, left top, right top, from(#436be0), to(#007dff));
 background: -webkit-linear-gradient(left, #436be0 0%, #007dff 100%);
 background: -o-linear-gradient(left, #436be0 0%, #007dff 100%);
 background: linear-gradient(to right, #436be0 0%, #007dff 100%);
}

.bform .btn-danger-gradiant:hover {
 background: #007dff;
 background: -webkit-linear-gradient(#007dff 0%, #436be0 100%);
 background: -webkit-gradient(linear, left top, right top, from(#007dff), to(#436be0));
 background: -webkit-linear-gradient(left, #007dff 0%, #436be0 100%);
 background: -o-linear-gradient(left, #007dff 0%, #436be0 100%);
 background: linear-gradient(to right, #007dff 0%, #436be0 100%);
}

.bform .btn-md {
 padding: 15px 45px;
 font-size: 16px;
}

.bform .text-danger {
 color: #436be0 !important;
}

@media (max-width: 1023px) {
 .bform .contact-form {
 padding-left: 0;
 padding-right: 0;
 }
}

@media (max-width: 767px) {
 .bform .contact-form {
 padding-left: 15px;
 padding-right: 15px;
 }
}
