.user-img{
    width: 50px;
    height: 50px;
}

.fio-container{
    margin: auto;
    padding: 10px;
    text-align: left;
}

.fio{
    display: inline;
    padding: 10px;
    vertical-align: middle;
}

.pwd h2{
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
}

.p-2 h6{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.req{
    flex-direction: column;
}